// ---- Layout ----

@import '../_components/grid';
@import '../_components/_classes';

.page {
    &--padding {
        padding-top: $space-lg;
    }

    margin-bottom: $space-lg;
}

.margin-y {
    margin: $space-lg 0;
}


