// ---- Layout ----

@import '../_components/grid';
@import '../_components/_classes';

.page {
    &--padding {
        padding-top: $space-lg;
    }

    margin-bottom: $space-lg;
}

.margin-y {
    margin: $space-lg 0;
}

.course-top {
    display: flex;
    align-items: center;

    h1.h3 {
        margin-left: $space-md
    }

}

.course-content {
    margin-top: $space-md;
}

.margin-yb {
    margin-bottom: $space-lg;
}

