.button {
    $self: &;
    color: $dark;
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;


    

    

    

    &--primary {
        background: $blue;
        color: #fff;

        #{ $self }__icon {
            width: 20px;
            margin-left: $space-sm;
            fill: #fff;
        }

        #{ $self }__only-icon {
            width: 20px;
            fill: #fff;
        }
    }

    &--secondary {
        border: solid 2px $light;

        #{ $self }__icon {
            width: 20px;
            margin-left: $space-sm;
            fill: $blue;
        }

        #{ $self }__only-icon {
            width: 20px;
            fill: $blue;
        }
    }

    &--disabled {
        pointer-events: none;
        background: $light;
        color: darken($light, 30%);
    }
}