.page-enter-active, .page-leave-active {
    transition: all .2s ease;
}

.page-enter, .page-leave-to {
    opacity: 0;
}

.fade-fast-enter-active, .fade-fast-leave-active {
    transition: all .2s ease;
}

.fade-fast-enter, .fade-fast-leave-to {
    opacity: 0;
}