// ---- Typography ----

body {
    font-family: $font-body; // default font family
    color: $dark;
}

strong {
    font-weight: bold;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, a {
    font-family: $font-title;
}

h1, .h1 {
    font-size: $h1-size;
    margin: 0 0 30px;
}

h2, .h2 {
    font-size: $h2-size;
    margin: 0 0 30px;
}

h3, .h3 {
    font-size: $h3-size;
    margin: 0 0 30px;
}

h4, .h4 {
    font-size: $h4-size;
    margin: 0 0 $space-sm;
}

h5, .h5 {
    font-size: $h5-size;
    margin: 0 0 30px;
}

h6, .h6 {
    font-size: $h6-size;
    margin: 0 0 30px;
}

p {
    margin: 0;
}